.wrapper {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button_container {
  margin-left: 50px;
  width: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.button_container__button_active,
.button_container__button_passive {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding: 10px 0 20px;
  cursor: pointer;
  border-bottom: 2px solid #fff;
}
.button_container__button_active {
  border-bottom-color: #5ECE7B;
  color: #5ECE7B;
  /* animation: active 0.3s; */
}
.icon_container {
  width: 30px;
  height: 30px;
}
.icon_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.shop_button_wrapper {
  width: 150px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bag_buttons_wrapper {
  width: 50px;
  background: none;
  border: none;
}
.bag_buttons_wrapper__currency {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  cursor: pointer;
  position: relative;
}
.bag_buttons_wrapper__currency__logo {
  font-weight: 500;
  font-size: 15px;
}
.bag_buttons_wrapper__currency__arrow,
.bag_buttons_wrapper__currency__arrow_opened {
  height: 100%;
  width: 10px;
  display: flex;
  padding: 7px 0 0 5px;
}
.bag_buttons_wrapper__currency__arrow_opened img {
  transition: all 0.3s;
}
.bag_buttons_wrapper__currency__arrow img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transform: rotate(180deg);
  transition: all 0.3s;
}
.bag_buttons_wrapper__currency__currecnies_list_opened {
  position: absolute;
  top: 25px;
  width: 70px;
  font-weight: 475;
  padding: 0 10px;
  box-shadow: 0px 0px 10px 1px rgba(97, 97, 97, 0.144);
  border-radius: 3px;
  transition: opacity 0.3s;
  background: #fff;
  z-index: 1;
}
.bag_buttons_wrapper__currency__currecnies_list {
  position: absolute;
  top: 25px;
  opacity: 0;
  transition: opacity 0.1s;
}
.bag_buttons_wrapper__currency__currecnies_list__box {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.bag_buttons_wrapper__currency__currecnies_list__box .currencies_logo {
  width: 30%
}
.bag_buttons_wrapper__currency__currecnies_list__box .currencies_val {
  width: 70%;
  margin-left: 10px;
}
.bag_buttons_wrapper__cart {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}
.bag_buttons_wrapper__cart__quanity {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  font-size: 13px;
  display: flex;
  justify-content: center;
}
.button_container__links {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #000;
}

@keyframes active {
  from {
    border-bottom-color: #fff;
    color: #000;
  }
  to {
    border-bottom-color: #5ECE7B;
    color: #5ECE7B;
  }
}
.bag_buttons_wrapper__cart__popup {
  display: none;
}
.bag_buttons_wrapper__cart__popup__opened {
  min-width: 400px;
  background: #fff;
  position: absolute;
  top: 100px;
  right: 50px;
  animation: open 0.3s;
  z-index: 100;
}
.bag_buttons_wrapper__cart__popup__opened__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bag_buttons_wrapper__cart__popup__opened__links__button {
  width: 40%;
}
.bag_buttons_wrapper__cart__popup__opened__links__button:first-of-type {
  border: 1px solid #000;
  background: none;
  font-weight: 600;
  font-size: 14px;
  padding: 15px;
  text-transform: uppercase;
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}